venv/
app.log
*.log
logs/
**/*.pyd
**/*.so
**/*.dll
**/*.exe
**/*.cpp
**/*.c
*.p4p
*.par
.idea/
.vscode/
*.swp
*.swo
setup/build/
build/
dist/
*.egg-info/
repomix.config.json
test.py
*.tmp
temp/
/*.json
**/__pycache__/**
*~