h2, h3, h4, h5, h6 {
    color: #000000;
}
h1 {
    color: #cf1d11;
    font-family: "Arial Black";
    font-style: oblique 30deg;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #5C5C5C;
}

.invalid-value {
    background-color: rgba(255, 0, 0, 0.2) !important;
}

.ag-row.invalid-row {
    background-color: rgba(255, 0, 0, 0.2) !important;
}
.hide-cell {
    visibility: hidden !important;
    height: 1px !important;
    max-height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    border: none !important;
    color: transparent !important;
}

